<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyConnString" connectionString="Data Source = (LocalDB)\MSSQLLocalDB; AttachDbFilename = C:\RockWall\test.mdf; Integrated Security = True; Connect Timeout = 30;"/>
  </connectionStrings>
  <appSettings>
    <add key="myKey" value="false"/>
    <add key="connectionString" value="Data Source = (LocalDB)\MSSQLLocalDB; AttachDbFilename = C:\RockWall\test.mdf; Integrated Security = True; Connect Timeout = 30;"/>
    <add key="BackupFolder" value="C:/temp/"/>
  </appSettings>
</configuration>
